In [19]:
import pandas as pd
gzmt=pd.read_csv(R'data\600519.csv')

In [20]:
gzmt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4094 entries, 0 to 4093
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day         4094 non-null   object
 1   STOCK_CODE  4094 non-null   int64
 2   open        4094 non-null   float64
 3   close       4094 non-null   float64
 4   maximum     4094 non-null   float64
 5   minimum     4094 non-null   float64
 6   volume      4094 non-null   int64
 7   TURNOVER    4094 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 256.0+ KB

In [21]:
gzmt.describe

<bound method NDFrame.describe of              day  STOCK_CODE    open   close  maximum  minimum  volume  \
0     2001-08-27     6005191   34.51   35.55    37.78    32.85  406318
1     2001-08-28     6005191   34.99   36.86    37.00    34.61  129647
2     2001-08-29     6005191   36.98   36.38    37.00    36.10   53252
3     2001-08-30     6005191   36.28   37.10    37.51    36.00   48013
4     2001-08-31     6005191   37.15   37.01    37.62    36.80   23231
...          ...         ...     ...     ...      ...      ...     ...
4089  2018-10-29     6005191  549.09  549.09   549.09   549.09   49076
4090  2018-10-30     6005191  510.00  524.00   543.00   509.02  204397
4091  2018-10-31     6005191  527.00  548.90   555.00   522.00   96885
4092  2018-11-01     6005191  555.00  563.00   585.50   551.25   98107
4093  2018-11-02     6005191  585.00  599.90   600.00   572.24   89157

         TURNOVER
0      1410347008
1       463463008
2       194689000
3       177558000
4        86231000
...           ...
4089   2694714080
4090  10663392512
4091   5239853056
4092   5581027328
4093   5227695104

[4094 rows x 8 columns]>

In [22]:
gzmt[['open','close']].describe()

              open        close
count  4094.000000  4094.000000
mean    182.161910   182.435230
std     165.857882   165.994905
min      20.900000    20.880000
25%      47.405000    47.482500
50%     159.930000   159.980000
75%     208.500000   209.457500
max     800.000000   799.190000

In [23]:
gzmt['open'].unique()

array([ 34.51,  34.99,  36.98, ..., 527.  , 555.  , 585.  ])

In [24]:
result=gzmt['open'].unique()

In [25]:
result2=gzmt.close.value_counts()

In [26]:
df=pd.DataFrame({
    "name":["A","B","C","B","C","A","C"],
    "value":[1,3,7,2,4,3,1]
})
df.groupby("name")["value"].sum()

name
A     4
B     5
C    12
Name: value, dtype: int64

In [27]:
data={'姓名':['张三','李四','王五','赵六','孙七'],
      '年龄':[18,19,20,18,19],
      '班级':['一班','一班','二班','二班','一班'],
      '成绩':[97,88,78,92,88]}